@charset "utf-8";

@font-face {
	font-family: 'Bazzi';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}